.stack-pane-background {
    -fx-background-image: url("images/splash-start.jpg");
    -fx-background-size: cover;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}


.minion-button {
    -fx-background-color: #f8f8f8;
    -fx-border-color: #ddd;
    -fx-border-radius: 5px;
    -fx-padding: 0 10 0 0;
    -fx-stroke-width: 3;
    -fx-background-radius: 5px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.1), 5, 0, 0, 2);
}

.minion-button:hover {
    -fx-background-color: #e8e8e8;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 8, 0, 0, 3);
}

.minion-button.unaffordable {
    -fx-border-color: #ff0000;
    -fx-opacity: 0.7;
    -fx-background-color: rgba(255, 0, 0, 0.3);

}

.minion-button.selected {
    -fx-border-color: #ffd700;
    -fx-opacity: 1.0;
}

.minion-image-container {
    -fx-background-radius: 50%;
    -fx-background-color: linear-gradient(to bottom, #ffffff, #f0f0f0);
    -fx-padding: 5px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 5, 0, 0, 2);
}

.minion-image-container {
    -fx-background-radius: 50%;
    -fx-clip: circle;
    -fx-background-color: #f0f0f0;
    -fx-padding: 5px;
}

.minion-image-container > .image-view {
    -fx-effect: innershadow(three-pass-box, rgba(0,0,0,0.1), 3, 0, 0, 1);
}

.minion-name {
    -fx-font-weight: bold;
    -fx-font-size: 24px;
    -fx-text-fill: #333;
    -fx-alignment: center;
    -fx-text-alignment: center;
    -fx-wrap-text: true;
    -fx-max-width: 200px;
}

.attack-stat {
    -fx-text-fill: #D60000;
    -fx-font-weight: bold;
    -fx-font-size: 18px;
}

.defence-stat {
    -fx-text-fill: #D60000;
    -fx-font-weight: bold;
    -fx-font-size: 18px;
}

.cost-stat {
    -fx-text-fill: #FFB900;
    -fx-font-weight: bold;
    -fx-font-size: 17px;
}
.selected-hex {
    -fx-stroke: gold;
    -fx-stroke-width: 5;
}

.hexagon {
    -fx-stroke: black;
    -fx-stroke-width: 1.5;
    -fx-effect: null;
}
